<!DOCTYPE html>
<html>
	<head>
		<title>Обратная связь</title>
		<style type="text/css">
			body {
				font-family: Arial, Verdana, sans-serif;
				font-size: 90%;
				color: #2F4F4F;
				background-color: #D3D3D3;
			}
			textarea {
       			font-family: Tahoma, Arial, 'Nimbus Sans L', sans-serif;
       			font-size: 13px;
				width: 60%;
				height: 70px;
			}
			input{
				font-family: Tahoma, Arial, 'Nimbus Sans L', sans-serif;
				width: 60%;
			}
		</style>
	</head>
	<body>
		<h1>Обратная связь</h1>
		<p>Напишите нам свои предложения или пожелания</p>
		<form action="" method="post">
			<p><b><label for="email">Ваш email:</label></b></p>
		 	<input name="email" id="email">
			<p>{{err_email}}<p>
			<p><b>Ваш отзыв:</b></p>
  			<p><textarea name="comment"></textarea></p>
			{{err_comment}}
 	    	<p><input type="submit" value="Отправить отзыв"></p>
			{{message}}
		</form>
	</body>
</html>
