{% extends "base.html" %}
{% block title %}
	Создание категории
{% endblock %}
{% block style %}{% endblock %}
{% block body %}
	<div id="site_content">
	  <div id="content">
        <h1>Создание категории</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Название категории">
            <button type="submit">Создать</button>
            {% for error in errors.values() %}
                <br>
                {{error}}
            {% endfor %}
        </form>
	  </div>
	</div>
{% endblock %}